.gpt3__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 6rem;
}

.gpt3__features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #ffffff;
}

.gpt3__features-container__feature-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    margin-bottom: 0.25rem;
}


@media screen and (min-width: 320px) and (max-width: 374px) {
    .gpt3__features-container__feature {
        width: 180%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 6rem;
        margin-right: 10rem; 
    }
    .gpt3__features-container__feature-title h1 {
        font-size: 20px; 
        line-height: 24px; 
    }
   
}
@media screen and (min-width: 375px) and (max-width: 424px) {
    .gpt3__features-container__feature {
        width: 110%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 6rem;
        margin-right: -1rem; 
    }
    .gpt3__features-container__feature-title h1 {
        
   
        font-size: 20px; 
        line-height: 24px; 
    }
   
}
@media screen and (min-width: 425px) and (max-width: 767px) {
    .gpt3__features-container__feature {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 6rem;
        margin-right: 1rem; 
    }
    .gpt3__features-container__feature-title h1 {
        
   
        font-size: 20px; 
        line-height: 24px; 
    }
   
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .gpt3__features-container__feature {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 6rem;
        margin-right: 1rem; 
    }
    .gpt3__features-container__feature-title h1 {
        
   
        font-size: 20px; 
        line-height: 24px; 
    }
   
}